.knobStyle {
	-fx-skin: "sample.knob.KnobSkin";
}

.knobStyle .knob {
    -fx-padding: 25;
}

.knobStyle:focused .knob {
    -fx-effect: dropshadow( three-pass-box , red , 5 , 0.5 , 0 , 0 );
}
.slider.knobStyle .knobDot {
    -fx-background-color: red;
    -fx-background-radius: 100;
    -fx-padding: 2;
}

.knob {
    -fx-background-color: transparent;
    -fx-padding: 40.5;
    -fx-border-color: rgba(255,0,0,0.6);
    -fx-border-radius: 200;
}

.knobDot {
    -fx-background-color: transparent;
}   

.knobOverlay {  
	-fx-background-color: linear-gradient(from 0% 0% to 0% 100%, rgba(255,255,255,0.1) 0%,  rgba(0,0,0,0.5) 100%);  
    -fx-background-radius: 200;
    -fx-background-insets: 0;  
    /**/  
    -fx-background-position: center center;  
    
}
